<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--上面2行的是约束依赖，固定照抄就好-->
<!--下面的才是要自己编写的地方-->
<!--写mapper的配置文件第一步就是要写<mapper></mapper>标签-->
<!--<mapper></mapper>标签里包含着各个CURD操作的SQL语句-->
<mapper namespace="com.huan.map.mapper.BaseStationRadiationMapper">
    <insert id="addBaseStationRadiation" useGeneratedKeys="true" keyProperty="id">

        insert into base_station_radiation (latitude, longitude, distance, average, powerDensity, provider)
        values (#{latitude}, #{longitude}, #{distance}, #{average}, #{powerDensity}, #{provider})
    </insert>
    <delete id="deleteBaseStationRadiation">
        delete
        from base_station_radiation
        where id = #{id}
    </delete>

    <delete id="updateBaseStationRadiation">
        update base_station_radiation
        <set>
            <if test="average != null">
                average = #{average},
            </if>
            <if test="powerDensity != null">
                powerDensity = #{powerDensity},
            </if>
        </set>
        where id = #{id}
    </delete>

    <!--    &lt;!&ndash;查找语句&ndash;&gt;-->
    <!--    <select id="count" resultType="int">-->
    <!--        select count(*) from base_station-->
    <!--    </select>-->

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from base_station_radiation
    </select>
    <select id="findAll" resultType="com.huan.map.model.BaseStationRadiation">
        select *
        from base_station_radiation
    </select>

    <select id="findById" resultType="com.huan.map.model.BaseStationRadiation">
        select *
        from base_station_radiation
        where id = #{id}
    </select>


    <select id="findOneByLatAndLong" resultType="com.huan.map.model.BaseStationRadiation">
        select *
        from base_station_radiation
        where latitude = #{latitude}
          and longitude = #{longitude}
    </select>

    <select id="findOneByAllParameters" resultType="com.huan.map.model.BaseStationRadiation">
        select *
        from base_station_radiation
        <where>
            <if test="latitude != null and latitude != 0 and longitude != null and longitude != 0">
                and latitude=#{latitude} and longitude=#{longitude}
            </if>
            <if test="distance gt 0">
                and distance=#{distance}
            </if>
            <if test="provider !=null and provider != ''">
                and provider=#{provider}
            </if>
        </where>

    </select>
    <select id="getBaseStationRadiation" resultType="com.huan.map.model.BaseStationRadiation">
        select *
        from base_station_radiation
        <where>
            <if test="latitude != null and latitude != 0 and longitude != null and longitude != 0">
                and latitude=#{latitude} and longitude=#{longitude}
            </if>
            <if test="distance gt 0">
                and distance=#{distance}
            </if>
            <if test="provider !=null and provider != ''">
                and provider=#{provider}
            </if>
        </where>
    </select>
    <select id="listAllBaseStationRadiation" resultType="com.huan.map.model.BaseStationRadiation">
        select *
        from base_station_radiation
        limit #{start},#{end}
    </select>

</mapper>